@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}

/* Banner section starts here  */
.banner_container {
  max-width: 1320px;
  margin: 0 auto;
  min-height: 600px;
  margin-top: 20px;
  background-image: url("./images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  border-radius: 10px;
}
.banner_content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.banner_content p {
  font-size: 32px;
  font-weight: 400;
}
.banner_content h1 {
  font-size: 72px;
  font-weight: 900;
}

/* second section  */
.second_section_container {
  width: 802px;
  height: 806px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid gainsboro;
}
.second_section_content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.second_section_content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.second_section_container h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.image_container {
  width: 802.9px;
  height: 500px;
}
.image_container img {
  width: 100%;
  height: 100%;
}

/* midnight party  */
.midnight_party_section {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  background-image: url("./images/Vectorrr.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  margin-top: 100px;
}
.left_side_content {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px;
}
.left_side_content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  line-height: 88px;
}
.left_side_content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
#midnight_button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 32px;
}
.right_side_content {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_side_content img {
  width: 349.16px;
  height: 464.65px;
}

/* join section  */
.join_section {
  border: 1px solid gainsboro;
  max-width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.join_content p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.join_content .join_span {
  color: #ff0000;
}
.join_content button {
  width: 167px;
  height: 56px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  display: block;
}
.join_btn {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

/* New best offer section  */
.new_best_offer {
  width: 1320px;
  height: 463px;
  margin-top: 120px;
  background-color: #def9c4;
  border-radius: 10px;
  display: flex;
  gap: 40px;
  padding: 30px;
}
.coming_soon {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.circle {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.circle img {
  width: 100%;
  border: 15px solid rgb(255, 0, 0);
  padding: 30px;
  border-radius: 100%;
}
.year_2024 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.coming_soon h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.coming_soon h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.coming_soon p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.year_2024 h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.year_2024 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

/* Holyday section starts here  */
.holiday_section_container {
  width: 1320px;
  height: 986.07px;
  border: 2px solid green;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  margin-bottom: 50px;
}
.holiday_text_container {
  width: 1068px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 0 auto;
}
.holiday_text_container h4 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.holiday_text_container h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 0%;
  text-align: center;
}
#holiday {
  color: #ff0000;
}
.holiday_section_container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.solid_color {
  width: 1320px;
  height: 229px;
  background-color: #ff0000;
  position: absolute;
  bottom: 0;
}
.gift_box {
  width: 574.82px;
  height: 477.96px;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.girl_container {
  width: 429px;
  height: 433px;
  position: relative;
  left: 200px;
  bottom: 134px;
}
.discount {
  position: absolute;
  left: 110%;
  bottom: 70%;
}

/* portfolio styles  */
.portfolio_container {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
}
.portfolio_text_content h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 4px;
}
.portfolio_text_content h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.portfolio_text_content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 48px;
}
.portfolio_items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.item {
  width: 424px;
  height: 450px;
}
.item img {
  width: 100%;
  height: 100%;
}

/* subscribe newsletter  */
.subscribe_newsletter {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 70px;
}
.subscribe_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscribe_content h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
}
.subscribe_content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.input_bar {
  width: 648px;
  height: 72px;
  display: flex;
  align-items: center;
}
.input_bar .text {
  height: 72px;
  padding-left: 30px;
  font-size: 20px;
  width: 774px;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  border: none;

}
.input_bar .subscribe {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
}

/* footer styles  */
.footer_container {
  width: 1600px;
  height: 609px;
  border: 2px solid green;
  margin: 0 auto;
  background: rgb(7, 2, 17);
}
.footer_first_section {
  display: flex;
  justify-content: space-between;
  width: 1185px;
  height: 200px;
  margin: 0 auto;
  align-items: center;
}
.first_address {
  color: #ffff;
}
.contact {
  color: #ffff;
  display: flex;
  gap: 15px;
  align-items: center;
}
.first_hr {
  width: 1185px;
  margin: 40px auto;
}
.second_footer_icons {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.third_footer_section {
  display: flex;
  justify-content: space-between;
  width: 1185px;
  height: 170px;
  margin: 0 auto;
  align-items: center;
  color: #ffff;
}
.footer_container p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
